/* Outline no ocupa un espacio real */

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.caja1{
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: red;
    outline: 10px solid black; /* No ocupa espacio se mezcla con el otro div */

}
.caja2{
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.cajita1 , .cajita2, .cajita3, .cajita4{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}

.cajita1{
    border: 5px solid black;
}
.cajita3{
    outline: 5px solid purple;
    /* position: relative; *//* Esto para que el borde faltante aparezca */
}