/*/ Especificidad */

/* !important */
/* Estilos en linea */
/* Identificadores (ID) */
/* Clases, pseudo-clases, atributos */
/* Elementos, pseudo-elementos */

/* Elementos, pseudo-elementos a Clases, pseudo-clases, atributos */

.color-red{
    color: blue;
}

h1{
    color: red;
}

/* Clases, pseudo-clases, atributos a Identificadores (ID) */

#titulo2{
    color: olive;
}

.titulo2{
    color: aqua;
}

/* Identificadores (ID) a Estilos en linea */

h3{
    color: red;
}

/* Estilos en linea a !important */

h4{
    color: blue !important;
}